:root {
  --line-height: 2rem;
  --color-border: #0003;
}

pre code {
  display: grid; /* Ensure each line is treated as a block */
  font-family: firacode, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
}

pre {
  counter-reset: line -1; /* Initialize a counter for line numbers */
}

.line::before {
  counter-increment: line; /* Increment the line counter */
  content: counter(line); /* Display the current line number */
  padding-inline: 1em;
  text-align: right;
  color: gray; /* Style the line numbers */
  font-size: 0.9em;
  position: absolute;
  left: -40px; /* Align line numbers to the left */
}

.line {
  margin-left: 1.5rem;
  position: relative;
  width: 100%;
  display: inline-block;
}

pre.shiki,
pre.shiki span {
  line-height: var(--line-height);
  min-height: var(--line-height);
  font-size: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border: 1px solid var(--color-border);
  box-shadow: 0px 0px 6px #000a;
  border-radius: 8px;
  background: #ccc9;
  & > div {
    background: #fff;
    border: 1px solid var(--color-border);
    border-radius: 8px;
  }
}

pre.shiki {
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  .line {
    display: inline-block;
  }
}

.command {
  padding: 8px;
  font-weight: bold;
  text-align: center;
}

@keyframes blink {
  0%,
  50% {
    background: #667f;
  }
  51%,
  100% {
    background: #6670;
  }
}

.selection {
  position: absolute;
  width: 2px;
  height: var(--line-height);
  background: #00b;
  animation: blink 1000ms infinite;
}

.selectionLeft::before {
  content: "";
  position: absolute;
  width: 2px;
  height: var(--line-height);
  background: #0b0;
  animation: blink 1000ms infinite;
  left: -2px;
  border-radius: 2px 0 0 2px;
}

.selectionRight::before {
  content: "";
  position: absolute;
  width: 2px;
  height: var(--line-height);
  background: #b00;
  animation: blink 1000ms infinite;
  right: -2px;
  border-radius: 0 2px 2px 0;
}

.decoration {
  display: inline-block;
  line-height: 0;
  font-size: 0;
}

.decoration:empty {
  display: block;
}

.full {
  width: 100%;
}

.decoration.pendingDelete {
  background-color: #ff00008a;
}

.decoration.referenced {
  background-color: #00a2ff4d;
}

.decoration.justAdded {
  background-color: #09ff005b;
}

.decoration.pendingModification0 {
  background-color: #8c00ff86;
}

.decoration.pendingModification1 {
  background-color: #ff009d7e;
}

.decoration.highlight0 {
  background-color: #d449ff42;
}

.decoration.highlight1 {
  background-color: #60daff7a;
}

.decoration.timingCalibration {
  background-color: #230026;
}

.hat {
  position: relative;
  display: inline-block;
  &::after {
    content: "";
    /* display: inline; */
    /* top: 0px; */
    /* left: 50%; */
    position: absolute;
    transform: translate(-110%, -50%);
    background-color: #b8b6cd;
    mask-repeat: no-repeat;
    width: 0.5rem;
    height: 0.5rem;
  }
}
.hat.default::after {
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 308.34 254.24"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><ellipse class="cls-1" cx="154.17" cy="127.12" rx="154.17" ry="127.12"/></g></g></svg>');
  top: 0.2rem;
  width: 0.5rem;
  height: 0.5rem;
}
.hat.wing::after {
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 371.81 234.76" ><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M371.81,234.42h0s-153.27-57.29-185.9-54.08h0C154.36,177.24,0,234.76,0,234.76H0L158.55,101.69c.6-.49-.39,1.87-.23,1.12L186.24,0h0l26.84,101.37"/></g></g></svg>');
}
.thatMark {
  outline: 2px solid yellow;
  outline-offset: 4px; /* Adds space between the outline and the element */
  border-radius: 4px; /* Makes the outline rounded */
}
.sourceMark {
  outline: 2px solid teal;
  outline-offset: 4px; /* Adds space between the outline and the element */
  border-radius: 4px; /* Makes the outline rounded */
}
